#form-popup
  form#form-container
    h2 Add New Product
    input#name(type="text" name="name" placeholder="Product Name" required)
    input#price(type="number" name="price" placeholder="Product Price" step="0.01" required)
    input#type(type="text" name="type" placeholder="Product Type" required)
    textarea#description(name="description" placeholder="Product Description" required)
    button#save-prod(type="submit") Save
    button#cancel-btn(type="button") Close